<div class="midory">
	<% data.each do |pm| %>
		<span><%= pm.name %></span>
		<ul>
			<% pm.model_types.each do |mt| %>
				<li <%= "id=mt_li_"+mt.id.to_s%> class="just_here">
					<span><%= mt.name %></span>
					<div class="model_type_options">
						<%= image_tag "edit.png", :width => 10, :height => 10, :class => "model_type_edit_image" %>
						<%= form_tag model_type_destroy_path, :remote => true do %>
							<%= hidden_field_tag "mt_id", mt.id %>
							<%= image_submit_tag "delete2.png", :confirm => "Confirme la operacion para proceder", :width => 10, :height => 10 %>
						<% end %>				
					</div>
				</li>
				<li <%= "id=mt_" + mt.id.to_s %> class="model_type_edit">
					<%= form_tag model_type_update_path, :remote => true do %>
						<%= hidden_field_tag "mt_id", mt.id %>
						<div class="form_div">
							<%= label_tag "new_name", "Sub Clase: "%><br/>
							<%= text_field_tag "new_name", mt.name %>
						</div>
						<div class="submit_edit_link">
							<%= link_to_function "Actualizar datos", "submitRegularForm(this)"%>
						</div>
						<div class="submit_part">
							<%= submit_tag "enviar" %>
						</div>
					<% end %>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>