<section class="until_here">
	<% hash.each do |model_type, values| %>
		<% if values.count > 0 %>
			<div class="class_part">
				<h1 <%= "id=" + parent_model.name + "_" + brand.name %> class="pt_md_name"><%= parent_model.name %></h1>
				<%= form_tag destroy_class_path, :remote => true do %>
					<%= hidden_field_tag "class_id", parent_model.id %>
					<%= image_submit_tag "delete2.png", :confirm => "Confirme la operacion para proceder", :width => 10, :height => 10 %>
				<% end %>
			</div>
			<div <%= "id=" + model_type.name + "_" + brand.name %> class="models">
				<h1><%= model_type.name %></h1>
				<ul>			
					<% values.each do |m| %>
						<%= render "model_part", :m => m %>
					<% end %>
				</ul>
			</div>
		<% end %>	
	<% end %>	
</section>