<section id="br_index">
	<hgroup id="br_title">
		<h1>Marcas y Modelos</h1>
		<div id="search_brand_part">
			<%= label_tag "search_brand", "Buscar: "%>
			<%= text_field_tag "search_brand", "Buscar por marca" %>
		</div>
	</hgroup>
	<section id="brs">
		<!-- <% @third_hash.each do |brand, hash| %>
			<%= render "brand_part", :brand => brand, :hash => hash %>
		<% end %> -->
		<div id="new_search_to_avoid_error">
			<%= form_tag brand_new_search_path, :id => "brand_new_search", :remote => true do %>
				<%= label_tag :search_param, "Buscar: " %>
				<%= text_field_tag :search_param %>
				<%= submit_tag "Buscar" %>
			<% end %>
		</div>
		<div id="response_to_avoid_error">
			
		</div>
	</section>
</section>

<section id="brand_menu" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Registrar nuevo dato</h1>
			<div class="second_title">
				<%= link_to_function "X", "hideBrandsMenu(this)" %>
			</div>
		</div>
		<div class="new_body">
			<%= link_to_function "Registrar nueva marca", "registerBrandForm(this)" %><br/>
			<%= link_to_function "Registrar nueva clasificacion", "registerClassForm(this)" %><br/>
			<%= link_to_function "Registrar nueva sub-clasificacion", "registerModelTypeForm(this)" %><br/>
			<%= link_to_function "Registrar nuevo modelo", "registerModelForm(this)" %><br/>
			<%= form_tag parent_model_index_path, :remote => true, :class => "not_common_form" do %>
				<div class="form_div">
					<%= link_to_function "Mostrar Clases Registradas", "submitRegularForm(this)", :class => "not_common_link" %>
				</div>
				<div class="submit_part">
					<%= submit_tag "enviar" %>
				</div>
			<% end %>
			<%= form_tag model_type_index_path, :remote => true, :class => "not_common_form" do %>
				<div class="form_div">
					<%= link_to_function "Mostrar Sub Clases Registradas", "submitRegularForm(this)", :class => "not_common_link" %>
				</div>
				<div class="submit_part">
					<%= submit_tag "enviar" %>
				</div>
			<% end %><br/>
		</div>
	</div>
</section>
<section id="new_brand_form" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Registrar nueva marca</h1>
			<div class="second_title">
				<%= link_to_function "X", "hideBrandsMenu(this)" %>
			</div>
		</div>
		<div class="new_body">
			<%= form_tag brand_create_path, :remote => true do %>
				<div class="form_div">
					<%= label_tag "name", "Marca:" %><br/>
					<%= text_field_tag "name" %>
				</div>
				<div class="form_div">
					<%= link_to_function "Guardar", "submitRegularForm(this)" %>
				</div>
				<div class="submit_part">
					<%= submit_tag "enviar" %>
				</div>
			<% end %>
		</div>
		<div class="options">
			<h2></h2>
			<%= link_to_function "Volver al Menu", "showBrandMenu(this)" %>
		</div>
	</div>
</section>
<section id="new_class_form" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Registrar nueva clasificacion</h1>
			<div class="second_title">
				<%= link_to_function "X", "hideBrandsMenu(this)" %>
			</div>
		</div>
		<div class="new_body">
			<%= form_tag class_create_path, :remote => true do %>
				<div class="form_div">
					<%= label_tag "name", "Clasificacion:" %><br/>
					<%= text_field_tag "name" %>
				</div>
				<div class="form_div">
					<%= link_to_function "Guardar", "submitRegularForm(this)" %>
				</div>
				<div class="submit_part">
					<%= submit_tag "enviar" %>
				</div>
			<% end %>
		</div>
		<div class="options">
			<h2></h2>
			<%= link_to_function "Volver al Menu", "showBrandMenu(this)" %>
		</div>
	</div>
</section>
<section id="new_model_type_form" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Registrar nueva sub-clasificacion</h1>
			<div class="second_title">
				<%= link_to_function "X", "hideBrandsMenu(this)" %>
			</div>
		</div>
		<div class="new_body">
			<%= form_tag create_model_type_path, :remote => true do %>
				<div class="form_div">
					<%= label_tag "parent", "Clasificacion" %>
					<%= select_tag "parent", options_from_collection_for_select(ParentModel.all, :id, :name), :prompt => "Elija una clasificacion" %>
				</div>
				<div class="form_div">
					<%= label_tag "name", "Sub-Clasificacion:" %><br/>
					<%= text_field_tag "name" %>
				</div>
				<div class="form_div">
					<%= link_to_function "Guardar", "submitRegularForm(this)" %>
				</div>
				<div class="submit_part">
					<%= submit_tag "enviar" %>
				</div>
			<% end %>
		</div>
		<div class="options">
			<h2></h2>
			<%= link_to_function "Volver al Menu", "showBrandMenu(this)" %>
		</div>
	</div>
</section>
<section id="new_model_form" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Registrar nuevo modelo</h1>
			<div class="second_title">
				<%= link_to_function "X", "hideBrandsMenu(this)" %>
			</div>
		</div>
		<div class="new_body">
			<%= form_tag model_create_one_path, :remote => true do %>
				<div class="form_div">
					<%= label_tag "parent", "Clasificacion:" %><br/>
					<%= select_tag "parent", options_from_collection_for_select(ParentModel.all, :id, :name), :prompt => "Elija una clasificacion", :id => "select_parent_model" %>
				</div>
				<div class="submit_part">
					<%= submit_tag "enviar", :id => "submit_first_part" %>
				</div>
			<% end %>
			<div id="second_part">
			</div>
		</div>
		<div class="options">
			<h2></h2>
			<%= link_to_function "Volver al Menu", "showBrandMenu(this)" %>
		</div>
	</div>
</section>
<section id="parent_model_index" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Clases Registradas</h1>
			<div class="second_title">
				<%= link_to_function "X", "hideBrandsMenu(this)" %>
			</div>
		</div>
		<div class="new_body">
		</div>
		<div class="options">
			<h2></h2>
			<%= link_to_function "Volver al Menu", "showBrandMenu(this)" %>
		</div>
	</div>
</section>
<section id="model_type_index" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Sub Clases Registradas</h1>
			<div class="second_title">
				<%= link_to_function "X", "hideBrandsMenu(this)" %>
			</div>
		</div>
		<div class="new_body">
		</div>
		<div class="options">
			<h2></h2>
			<%= link_to_function "Volver al Menu", "showBrandMenu(this)" %>
		</div>
	</div>
</section>
<section id="model_edit" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Editar Modelo</h1>
			<div class="second_title">
				<%= link_to_function "X", "hideBrandsMenu(this)" %>
			</div>
		</div>
		<div class="new_body">
			<%= form_tag model_update_path, :remote => true do %>
				<%= hidden_field_tag "model_id", 3 %>
				<div class="form_div">
					<%= label_tag "new_value", "Nuevo valor:" %><br/>
					<%= text_field_tag "new_value", 5 %>
				</div>
				<div class="form_div">
					<%= link_to_function "Editar Modelo", "submitRegularForm(this)", :class => "not_common_link" %>
				</div>
				<div class="submit_part">
					<%= submit_tag "enviar" %>
				</div>		
			<% end %>
		</div>
		<div class="options">
			<h2></h2>
			<%= link_to_function "Volver al Menu", "showBrandMenu(this)" %>
		</div>
	</div>
</section>