<section class="common_title_part">
  <hgroup class="common_title">
    <h1>Nueva Cotizacion</h1>
  </hgroup>
</section>

<section id="sale_process_form">
	<%= form_tag nil do %>
		<section id="sale_process_supplier_part">
			<div id="real_supplier_data">
				<%= label_tag :client_id, "Cliente: " %>
				<%= text_field_tag :client_id, "",:class => "forever_hidden" %>
				<%= text_field_tag :client_real_name %>
				<span id="client_number"></span>
			</div>
			<span id="click_to_search_client">Buscar cliente</span>
		</section>
	<% end %>
</section>

<section id="my_search_client_box" class="new_box">
	<div class="box_title">
		<h1>Busqueda de cliente</h1>
		<h2 class="close_box">X</h2>
	</div>
	<div class="box_body">
		<div id="text_to_search">
			<%= label_tag "search_client_text", "Buscar: " %>
			<%= text_field_tag "search_client_text" %>
		</div>
		<div id="sp_client_data">
			<table>
				<tr>
					<th>Nombre</th>
					<th>Tipo</th>
					<th>Tipo de documento</th>
					<th>Numero</th>
				</tr>
				<% @clients.each do |client| %>
					<tr <%= "id=client_"+client.id.to_s%> class="clickable_row search_here_row">
						<td><%= client.name %></td>
						<td><%= client.client_type.name %></td>
						<td><%= client.client_type.identification_type %></td>
						<td><%= client.identification_number %></td>
					</tr>
				<% end %>
			</table>
		</div>
		<p id="sp_show_new_client_form">Registrar nuevo cliente</p>
		<div id="sp_new_client_form">
			<%= form_tag sale_process_new_client_path, :remote => true do %>
				<%= label_tag "name", "Nombre: "%>
				<%= text_field_tag "name" %><br/>

				<%= label_tag "address", "Direccion: " %>
				<%= text_field_tag "address" %><br/>

				<%= label_tag "client_type_id", "Tipo de Cliente" %>
				<%= text_field_tag "client_type_id" %><br/>

				<%= label_tag "identification_number", "Numero" %>
				<%= text_field_tag "identification_number" %>

				<%= submit_tag %>

			<% end %>
		</div>
	</div>
</section>

<section id="my_search_product_box" class="new_box">
	<div class="box_title">
		<h1>Busqueda de producto</h1>
		<h2>X</h2>
	</div>
	<div class="box_body">
		<span>Hi!!!</span>
	</div>
</section>
<!-- <%= @products %> -->	
