<section id="product_type_index">
	<h1>Tipos de Producto</h1>
	<% @pt.each do |pt| %>
		<div id=<%= "product_type_" + pt.id.to_s %> class="product_type_item">
			<span><%= pt.name %></span>
			<div class="product_type_row_options">
				<%= link_to_function 'Eliminar dato',"destroy_form(this, 'destroy_form_"+pt.id.to_s+"')", :class => "link_to_destroy_product_type" %>
				<% if can? :destroy, ProductType.new %>
					<div class="destroy_product_type" id=<%="destroy_form_"+pt.id.to_s%>>
						<%= form_tag product_type_destroy_path, :remote => true do %>
							<%= hidden_field_tag "pt_id", pt.id %>
							<%= submit_tag 'eliminar' %>
						<% end %>
					</div>
				<% end %>
				<% if can? :edit, ProductType.new %>
					<%= link_to_function 'Actualizar', "update_form(this,'update_form_"+pt.id.to_s+"')", :class => "link_to_update_product_type" %>
					<div class="update_product_type" id=<%="update_form_"+pt.id.to_s%>>
						<%= form_tag product_type_update_path, :remote => true do %>
							<%= hidden_field_tag 'pt_id', pt.id %>
							<%= label_tag 'new_value', 'Nuevo Valor' %>
							<%= text_field_tag 'new_value' %>
							<%= submit_tag 'Actualizar' %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>

	<% if can? :create, ProductType.new %>
		<div id="create_product_type">
			<h1>Crear Tipo de Producto</h1>
			<%= form_tag product_type_create_path, :remote => true do %>
				<%= label_tag "name","Nombre:" %>
				<%= text_field_tag "name" %>
				<%= submit_tag "Enviar", :id => "product_type_create_input_submit_button"%>
			<% end %>
		</div>
	<% end %>
</section>

<!-- Hope this commentary helps to my commit -->