<section id="price_type_title_part">
	<hgroup id="price_type_title">
		<h1>Tipos de Precios</h1>
	</hgroup>
</section>

<section id="price_type_index">
	<% @pt.each do |pt| %>
		<%= render "price_type_item", :pt => pt %>
	<% end %>
</section>

<div id="create_price_type">
	<h1>Crear Tipo de Precio</h1>
	<%= form_tag price_type_create_path, :remote => true do %>
		<div class="pt_create_form_div">
			<%= label_tag "name","Nombre:" %>
			<%= text_field_tag "name" %>
			<%= link_to_function "Registrar", "submitCreateForm(this)" %>
		</div>
		<div class="pt_create_form_div_submit">
			<%= submit_tag "Enviar", :id => "price_type_create_input_submit_button"%>
		</div>
	<% end %>
</div>