<section class="output_code_title_part">
  <hgroup class="output_code_title">
    <h1>códigos de salida</h1>
  </hgroup>
</section>

<section id="output_code_search">

	<h1>Buscar Documento</h1>

	<%= form_tag code_output_result_path,:remote => true do %>
		<div class="search_part">
		<%= label_tag "numbers", "Codigo de la Cotizacion: " %><br/>
		<%= text_field_tag "numbers" %>
		</div>
		<div class="search_part">
			<%= submit_tag "Consultar" %>
		</div>
	<% end %>

	<p id="error_message">No hay documentos registrados con esos datos</p>
	<div id="success_message">
		<p>Se encontro el documento indicado</p>
		<%= form_tag code_output_register_path do %>
			<%= hidden_field_tag "doc_register_id", :value => 0 %>
			<%= submit_tag "Registrar Codigos" %>
		<% end %>
		<%= form_tag code_output_show_path do %>
			<%= hidden_field_tag "folder_id", :value => 0 %>
			<%= submit_tag "Ver Codigos" %>
		<% end %>
	</div>
</section>