<section id="devise_edit_user_title">
  <hgroup id="edit_user_title">
    <h1>Modificar valores de <%= current_user.full_name %></h1>
  </hgroup>
</section>

<section id="new_user_form">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="new_user_form_field">
      <%= f.label :name, "Nombre:" %>
      <%= f.text_field :name %>
    </div>

     <div class="new_user_form_field">
      <%= f.label :last_name, "Apellidos:" %>
      <%= f.text_field :last_name %>
    </div>

     <div class="new_user_form_field">
      <%= f.label :username, "Usuario:" %>
      <%= f.text_field :username, :readonly => true %>
    </div>

    <div class="new_user_form_field">
      <%= f.label :email, "Correo: " %>
      <%= f.email_field :email %>
    </div>

    <div class="new_user_form_field">
      <%= f.label :salary, "Salario:" %>
      <%= f.text_field :salary %>
    </div>

     <div class="new_user_form_field">
      <%= f.label :small_code, "Código personal:" %>
      <%= f.text_field :small_code %>
    </div>


    <div class="new_user_form_field">
      <%= f.label :dni, "DNI: " %>
      <%= f.number_field :dni %>
    </div>

     <div class="new_user_form_field">
      <%= f.label :address, "Dirección:" %>
      <%= f.text_field :address %>
    </div>

     <div class="new_user_form_field">
      <%= f.label :relative_phone, "Teléfono de contacto:" %>
      <%= f.text_field :relative_phone %>
    </div>

    <div class="new_user_form_field">
      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => "off" %>
      <h3>Dejar en blanco si no quieres cambiarlo</h3>
    </div>
    
    <div class="new_user_form_field">
      <%= f.label :image, "Foto:" %>
      <%= f.file_field :image %>
    </div>

    <div class="new_user_form_field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="new_user_form_field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
      <h3>Escribe tu contraseña actual para proceder</h3>
    </div>

    <div id="submit_new_user_form">
      <%= f.submit "Registrar", :id => "submit_new_user" %>
    </div>
  <% end %>
</section>