<section id="br_index">
  <hgroup id="br_title">
    <h1>Registrar nuevo usuario</h1>
  </hgroup>
</section>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div>
  	<% for role in Role.all %>
  		<%= check_box_tag "user[role_ids][]", role.id %>
  		<%= role.name %><br>
  	<% end %>
  </div>

  <div>
    <%= f.label :store_id, "Local" %>
    <%= f.collection_select :store_id, Store.all, :id, :name %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
