<section id="client_type_title_part">
	<hgroup id="client_type_title">
		<h1>Tipos de clientes</h1>
	</hgroup>
</section>

<section id="client_type_index">
	<table>
		<tr>
			<th>Tipo</th>
			<th>Tipo de identificacion</th>
			<th>Digitos en la identificacion</th>
			<th colspan="2">Opciones</th>
		</tr>
		<% @ct.each do |ct| %>
			<%= render "ct_row.html", :ct => ct %>
		<% end %>
	</table>

	<section id="create_new_client_type_link">
		<%= link_to_function "Crear nuevo tipo", "showCreateClientTypeForm()"%>
	</section>

</section>

<section class="floating_box">
	<div class="upper_part">
		<h1>Crear nuevo tipo de cliente</h1>
		<h2><%= link_to_function "X", "hideFloatingBox(this)" %></h2>
	</div>
	<%= form_tag client_type_create_path, :id => "create_client_type", :remote => true do %>
		<div class="client_type_new_form_div">
			<%= label_tag "name","Nombre:" %><br>
			<%= text_field_tag "name" %>
		</div>
		<div class="client_type_new_form_div">
			<%= label_tag "identificacion_type", "Tipo de Identificacion: " %><br>
			<%= text_field_tag "identification_type"%>
		</div>
		<div class="client_type_new_form_div">
			<%= label_tag "identificacion_quantity", "Digitos en la identificacion: " %><br>
			<%= text_field_tag "identification_quantity"%>
		</div>
		<div class="submit_button_part">
			<%= submit_tag "Guardar", :id => "client_type_create_input_submit_button"%>
		</div>
	<% end %>
</section>

<section class="floating_box">
	<div class="upper_part">
		<h1>Modificar tipo de cliente</h1>
		<h2><%= link_to_function "X", "hideFloatingBox(this)" %></h2>
	</div>
	<%= form_tag client_type_update_path, :id => "update_client_type", :remote => true do %>
		<%= hidden_field_tag "ctupdate_id", "" %>
		<div class="client_type_new_form_div">
			<%= label_tag "up_name","Nombre:" %><br>
			<%= text_field_tag "up_name" %>
		</div>
		<div class="client_type_new_form_div">
			<%= label_tag "up_identificacion_type", "Tipo de Identificacion: " %><br>
			<%= text_field_tag "up_identification_type"%>
		</div>
		<div class="client_type_new_form_div">
			<%= label_tag "up_identificacion_quantity", "Digitos en la identificacion: " %><br>
			<%= text_field_tag "up_identification_quantity"%>
		</div>
		<div class="submit_button_part">
			<%= submit_tag "Guardar", :id => "client_type_create_input_submit_button"%>
		</div>
	<% end %>
</section>