<h2>Los campos sombreados son obligatorios</h2>
<%= form_for(@store) do |f| %>
  <div class="store_field required">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>
  <div class="store_field required">
    <%= f.label :address, "Direccion" %>
    <%= f.text_field :address %>
  </div>
  <div class="store_action">
    <%= f.submit "Crear Local" %>
  </div>
<% end %>
