<section id="suppliers_title_part">
  <hgroup id="suppliers_title">
    <h1><%= @store.name %></h1>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </hgroup>
</section>

<section id="stores_show">

	<div class="store_show_part">
		<span>Nombre: </span>
		<p><%= @store.name %></p>
	</div>

	<div class="store_show_part">
		<span>Direccion: </span>	
		<p><%= @store.address %></p>
	</div>

	<% unless @store.stock.all.empty? %>
		<section id="products_in_this_store">
			<h1>Productos en este local</h1>
			<table>
				<thead>
					<tr>
						<td>Producto</td>
						<td>Cantidad</td>
					</tr>
				</thead>
				<tbody>
					<% @store.stock.all.each do |st| %>
						<tr>
							<td><%= link_to st.product.full_name, st.product %></td>
							<td><%= st.quantity %></td>
						</tr>
					<% end %>
					<tr></tr>
				</tbody>
			</table>
		</section>
	<% end %>

	<div id="stores_show_options">
		<ul>
			<li><%= link_to 'Editar', edit_store_path(@store) %></li>
			<li><%= link_to 'Volver', stores_path %></li>
			<li><%= link_to 'Eliminar', @store, confirm: 'Esta seguro?', method: :delete %></li>
		</ul>		
	</div>
</section>