<%= form_for(@entry_folder) do |f| %>
  <% if @entry_folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry_folder.errors.count, "error") %> prohibited this entry_folder from being saved:</h2>

      <ul>
      <% @entry_folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div id="entry_folder_supplier_part">
    <div class="et_supplier">
      <%= f.text_field :supplier_id, :class => "forever_hidden" %>
      <%= f.label :sup_id, "Proveedor: " %>
      <span id="sup_id"><%= @entry_folder.supplier.nil? ? " Elija un proveedor " : @entry_folder.supplier.name %></span>
      <%= link_to_function "Cambiar proveedor", "showSupplierSearch()", :id => "change_supplier_link" %>
    </div>
    <div class="et_supplier closed_eye">
      <%= f.label :folder_state_id, "Estado del Documento:" %>
      <%= f.collection_select :folder_state_id, FolderState.all, :id, :name %>
    </div>
    <div class="et_supplier">
      <%= f.label :date, "Fecha: " %>
      <%= f.date_select :date %>
    </div>    
  </div>
  
  <div id="entry_folder_documents_part">
    <%= f.fields_for :entry_documents do |ed| %>
      <%= render 'entry_documents_field', :data => ed %>
    <% end %>
    <div id="add_doc">
      <%= link_to_add_field("Agregar Documento", f, :entry_documents)%>
    </div>
  </div>

  <div id="entry_folder_detail_part">
      <%= f.fields_for :entry_document_details do |edd| %>
        <%= render 'entry_document_details_field', :data => edd %>
      <% end %>
      <div id="add_doc_detail">
        <%= link_to_add_field("Agregar Detalle de documento", f, :entry_document_details) %>
      </div>
  </div>
  
  <div id="entry_folder_submit_link">
    <%= link_to_function "Registrar", "submitCreateEntryFolderForm(this)" %>
  </div>
  <div id="entry_folder_submit_button">
    <%= f.submit "Insertar" %>
  </div>
<% end %>
