<section class="entry_folders_title_part">
  <hgroup class="entry_folders_title">
    <h1>Registros de Ingreso</h1>
  </hgroup>
</section>

<section id="entry_folders_main_index">
  <% @entry_folders.each do |entry_folder| %>
    <% entry_folder.each do |supplier,docs| %>
      <section class="entry_folders_box">
        <section class="entry_folders_supplier_part">
          <h1 class="entry_folders_supplier_name"><%= supplier.name %></h1>
          <!-- link_to todos los documentos de este proveedor -->
        </section>
        <section class="entry_folders_data_part">
          <table>
            <tr>
              <th>Tipo de Documento</th>
              <th>Numeracion</th>
              <th>Fecha</th>
              <th>Opciones</th>
            </tr>
            <% docs.each do |doc| %>
              <% doc.entry_documents.each do |d| %>
                <tr>
                  <td><%= d.document_type.name %></td>
                  <td><%= d.numeration %></td>
                  <td><%= d.entry_folder.date %></td>
                  <td><%= link_to "Mostrar", doc %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </section>
      </section>
    <% end %>
  <% end %>

  <section id="entry_folders_new_options">
    <%= link_to 'Registrar Nuevo Ingreso', new_entry_folder_path %>
  </section>
</section>