<section class="entry_folders_title_part">
  <hgroup class="entry_folders_title">
    <h1>Nuevo Registro de Ingreso</h1>
  </hgroup>
</section>

<section id="entry_folders_new">
	<%= render 'form' %>
</section>

<section id="entry_folders_new_options">
	<%= link_to 'Volver', entry_folders_path %>
</section>

<section id="supplier_search" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Busqueda de Proveedor</h1>
			<div class="second_title">
				<%= link_to_function "X", "hideBrandsMenu(this)" %>
			</div>
		</div>
		<div class="new_body">
			<%= form_tag search_supplier_path, :remote => true do %>
				<div class="form_div">
					<%= label_tag "name", "Nombre"%><br/>
					<%= text_field_tag "name" %>
				</div>
				<div class="form_div">
					<%= link_to_function "Buscar", "submitRegularForm(this)" %>
				</div>
				<div class="submit_part">
					<%= submit_tag "enviar" %>
				</div>
			<% end %>
			<div id="sup_search_result">

			</div>
		</div>
	</div>
</section>

<section id="product_search_for_entry_folder" class="floating_part">
	<div class="floating_body">
		<div class="title">
			<h1>Busqueda de Productos</h1>
		</div>
		<div class="new_body">
			<%= form_tag search_product_path, :remote => true do %>
			<div class="form_div">
				<%= label_tag "model", "Modelo:" %><br/>
				<%= datalist_text_field_tag "model", "model_list", Model.all %>
			</div>
			<div class="form_div">

			</div>
			<%= submit_tag "consultar" %>
			<% end %>
			<div id="et_product_search_result">
			</div>
		</div>
		<div class="options">
			<h1><%= link_to_function "Busqueda Avanzada" ,"" %></h1>
		</div>
	</div>
</section>