<h2>Los campos sombreados son obligatorios</h2>

<%= form_for(@client) do |f| %>

  <div class="client_field required">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>
  <div class="client_field required">
    <%= label_tag "client_type_id", "Tipo de Cliente" %>
    <%= select_tag "client_type_id", client_type_collection(ClientType, :id, :name) %>
  </div>

  <div class="client_field required">
    <%= f.label :identification_number, "RUC/DNI" %>
    <%= f.text_field :identification_number %>
  </div>

  <div class="client_field required">
    <%= f.label :phone, "Telefono: " %>  
    <%= f.text_field :phone %>
  </div>

  <div class="client_field">
    <%= f.label :mobile, "Celular: " %>
    <%= f.text_field :mobile %>
  </div>

  <div class="client_field required">
    <%= f.label :mail, "Correo: " %>
    <%= f.text_field :mail %>
  </div>

  <div class="client_field">
    <%= f.label :contact_person, "Persona de contacto: "%>
    <%= f.text_field :contact_person %>
  </div>

  <div class="client_field required">
    <%= f.label :address, "Direccion" %>
    <%= f.text_field :address %>
  </div>

  <div class="client_field">
    <%= f.label :reference, "Otros: " %>
    <%= f.text_area :reference %>
  </div>

  <div class="actions">
    <%= f.submit "Insertar" %>
  </div>
<% end %>
