<li class="first_level_item"><%= link_to "Clientes", :clients %>
	<ul class="second_level_list">
		<li class="second_level_item"><%= link_to "Registrar nuevo cliente", new_client_path %></li>
	</ul>
</li>
<li class="first_level_item"><%= link_to "Productos", :products %>	</li>
<li class="first_level_item"><%= link_to "Cotizaciones", quotation_search_index_path %>
	<ul class="second_level_list">
		<li class="second_level_item"><%= link_to "Nueva Cotización", new_quotation_path %></li>
	</ul>
</li>
<li class="first_level_item"><%= link_to "Series", code_output_search_path %></li>
<li id="close_session" class="first_level_item"><%= link_to "Cerrar Sesion", destroy_user_session_path, :method => :delete %></li>