<li class="first_level_item"><%= link_to "Clientes", :clients %>
	<ul class="second_level_list">
		<li class="second_level_item"><%= link_to "Registrar nuevo cliente", new_client_path %></li>
	</ul>
</li>
<li class="first_level_item"><%= link_to "Productos", :products %>	</li>
<li class="first_level_item"><%= link_to "Cotizaciones", nil %></li>
<li class="first_level_item"><%= link_to "Codigos", code_output_search_path %></li>