<% unless current_user.role? "SuperAdmin" %>
	<section id="real_index_block">
		<h1>BIENVENIDO A PUKARA</h1>
		<h2>Utiliza las opciones en la barra superior para utilizar el sistema</h2>
	</section>
<% else %>
	<section id="config">
		<h1>CONFIGURACION</h1>
		<section>
			<h2>Tipo de cliente</h2>
			<div>
				<%= link_to "Mostrar", client_type_index_path %>
			</div>		
		</section>
		<section>
			<h2>Tipo de documento</h2>
			<div>
				<%= link_to "Mostrar",document_type_index_path %>
			</div>
		</section>
		<section>
			<h2>Tipo de precio</h2>
			<div>
				<%= link_to "Mostrar", price_type_index_path %>
			</div>
		</section>
		<section>
			<h2>Tipo de producto</h2>
			<div>
				<%= link_to "Mostrar", product_type_index_path %>
			</div>
		</section>
		<section>
			<h2>Tipo de dinero</h2>
			<div>
				<%= link_to "Mostrar", money_type_index_path %>
			</div>
		</section>
		<section>
			<h2>Numeracion de Documentos</h2>
			<div>
				<%= link_to "Mostrar", numeration_index_path %>
			</div>
		</section>
	</section>
<% end -%>