<%= form_for(@output_folder) do |f| %>
  <% if @output_folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@output_folder.errors.count, "error") %> prohibited this output_folder from being saved:</h2>

      <ul>
      <% @output_folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div id="output_folder_client_part">
    <div class="of_supplier">
      <%= f.text_field :client_id, :class => "forever_hidden" %>
      <%= f.label :clnt_id, "Cliente: " %>
      <span id="clnt_id"><%= @output_folder.client.nil? ? "Elija un cliente" : @output_folder.client.name %></span>
      <%= link_to_function "Cambiar cliente", "showClientSearch()", :id => "change_client_link" %>
    </div>
    <div class="of_supplier">
      <%= f.label :folder_state_id, "Estado del Documento:" %>
      <%= f.collection_select :folder_state_id, FolderState.all, :id, :name %>
    </div>
    <div class="of_supplier">
      <%= f.label :date, "Fecha: " %>
      <%= f.date_select :date %>
    </div>
    <div class="of_supplier">
      <p>Registrado por: <%= current_user.username %></p>
    </div>
  </div>

  <div id="output_folder_documents_part">
    <%= f.fields_for :output_documents do |ed| %>
      <%= render 'output_documents_field', :data => ed %>
    <% end %>
    <div id="add_doc">
      <%= link_to_add_field("Agregar Documento", f, :output_documents)%>
    </div>
  </div>
  <div id="output_folder_detail_part">
      <%= f.fields_for :output_document_details do |edd| %>
        <%= render 'output_document_details_field', :data => edd %>
      <% end %>
      <div id="add_doc_detail">
        <%= link_to_add_field("Agregar Detalle de documento", f, :output_document_details) %>
      </div>
  </div>

  <div id="output_folder_submit_link">
    <%= link_to_function "Registrar", "submitCreateOutputFolderForm(this)" %>
  </div>
  <div id="output_folder_submit_button">
    <%= f.submit "Insertar" %>
  </div>
<% end %>
