<div class="of_doc_detail_row">
  <div class="nested_doc_detail_field">
    <%= data.label :product_id, "Producto:" %><br/>
    <%= data.text_field :product_id, :class => "forever_hidden" %>
    <div class="m_part">
      <%= text_field_tag "mid_", "", :class => "of_dd_product_name" %>
      <span class="my_clickable_space">Cambiar</span>
    </div>
  </div>
  <div class="nested_doc_detail_field">
    <%= data.label :sell_price, "Precio de Venta: " %>
    <%= data.text_field :sell_price, :size =>  10 %>
  </div>
  <div class="nested_doc_detail_field">
    <%= data.label :quantity, "Cantidad: " %>
    <%= data.text_field :quantity, :size => 10 %>
  </div>
  <div class="nested_doc_detail_field">
    <%= data.label :unit_id, "Unidad" %>
    <%= data.collection_select :unit_id, Unit.all, :id, :name %>
  </div>
  <div class="nested_doc_detail_field">
    <%= data.check_box :_destroy %>
    <%= data.label :_destroy, "Eliminar" %>
  </div>
</div>