<div class="of_doc_detail_item">
  <div class="nested_doc_detail_field">
    <%= data.label :product_id, "Producto:" %>
    <%= data.text_field :product_id, :class => "forever_hidden" %>
    <div class="m_part">
      <%= text_field_tag "mid_", "", :class => "of_dd_product_name", :class => "name" %>
      <span class="my_clickable_space">Cambiar</span>
    </div>
  </div>
  <div class="nested_doc_detail_field">
    <%= data.label :sell_price, "Precio de Venta: " %>
    <%= select_tag "price_type", options_from_collection_for_select( PriceType.all, :id, :name), :class => "sell_price" %>
    <%= data.text_field :sell_price, :class => "name check_price" %>
  </div>
  <div class="nested_doc_detail_field">
    <%= hidden_field_tag "", "", :class => "max_stock" %>
    <%= data.label :quantity, "Cantidad: " %>
    <%= data.text_field :quantity, :size => 5 , :class => "number" %>
    <span class="max_quantity">Maximo: 3000 unidades</span>
  </div>
  <div class="nested_doc_detail_field">
    <%= data.label :unit_id, "Unidad" %>
    <%= data.collection_select :unit_id, Unit.all, :id, :name %>
  </div>
  <div class="nested_doc_detail_field">
    <%= data.check_box :_destroy %>
    <%= data.label :_destroy, "Eliminar" %>
  </div>
</div>