<section class="entry_folders_title_part">
  <hgroup class="entry_folders_title">
    <h1>Registros de Salida</h1>
  </hgroup>
</section>

<section id="output_folder_index">
  <ul id="of_inner_nav_bar">
    <% FolderState.all.each do |fs|%>
      <% if fs == FolderState.first %>
        <li class="clicker selected"><%= fs.name %></li>
      <% else %>
        <li class="clicker"><%= fs.name %></li>
      <% end %>
    <% end %>
  </ul>

  <section id="of_data_part">
    <% @response.each do |key, value| %>
      <section id=<%= key.name %> class="classified_by_folder_state">
        <table>
        <tr>
          <th>Cliente</th>
          <th>Estado del Registro</th>
          <th>Fecha</th>
          <th>Registrado por</th>
          <th>Opciones</th>

        </tr>

        <% value.each do |val| %>
          <tr>
            <td><%= val.client_id %></td>
            <td><%= val.folder_state.name %></td>
            <td><%= val.date %></td>
            <td><%= val.user.username %></td>
            <td><%= link_to 'Mostrar', val %></td>
          </tr>
        <% end %>
        </table>
      </section>
    <% end %>
  </section>

  <section id="output_folders_new_options">
    <%= link_to 'Registrar Nueva Salida', new_output_folder_path %>
  </section>
</section>