<% if @quotation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>
    <ul>
    <% @quotation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<section id="q_new_form">
  <%= form_for(@quotation) do |f| %>
    <section id="q_real_data_to_send">
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </section>
    <section id="q_upper_part">
      <table>
        <tbody>
          <tr>
            <th> Cliente </th>
            <th> Fecha </th>
          </tr>
          <tr>
            <td id="no_padding"><%= text_field_tag "q_client_name" %></td>
            <td><%= f.date_select :date %></td>
          </tr>
          <tr>
            <th> Persona de Contacto </th>
            <th id="identification_type_part"> DNI/RUC </th>
          </tr>
          <tr>
            <td id="q_contact_to"></td>
            <td id="q_identification_number"></td>
          </tr>
          <tr>
            <th colspan=2> Direccion </th>
          </tr>
          <tr>
            <td colspan=2 id="q_address"></td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- 
      <section id="money_part">
        <table>
          <thead>
            <tr>
              <th>MONEDA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.collection_select :money_type_id, MoneyType.all, :id, :name %></td>
            </tr>
          </tbody>
        </table>
      </section> 
    -->

    <section id="q_detail_part">
      <table>
        <tbody>
          <tr>
            <th class="small_part"> Cantidad </th>
            <th class="small_part"> Codigo </th>
            <th> Descripcion </th>
            <th class="small_part"> P. Unit </th>
            <th class="small_part"> Importe </th>
            <th class="small_part"> Borrar </th>
          </tr>        
          <%= f.fields_for :quotation_details do |qd| %>
            <%= render 'quotation_details_field', :data => qd %>
          <% end %>
          <tr id="untouchable_row">
            <td colspan="4">TOTAL</td>
            <td colspan="2"id="quotation_total"> -- </td>
          </tr>
        </tbody>
      </table>
      <div>
        <%= link_to_add_q_field("Agregar producto", f, :quotation_details) %>
      </div>
    </section>   

   <!--  <div id="submit_new_quotation_form">
      <%= f.submit "Registrar cotizacion" %>
    </div> -->

  <% end %>    
</section>