<div>
	<%= data.label "product_id", "Producto:" %>
	<%= data.collection_select "product_id", Product.all, :id, :full_name %>
</div>
<div>
	<%= data.label "quantity", "Cantidad:" %>
	<%= data.text_field "quantity" %>
</div>
<div>
	<%= data.label "sell_price", "Precio:" %>
	<%= data.text_field "sell_price" %>
</div>
<div>
	<%= data.label "unit_id", "Unidad:" %>
	<%= data.collection_select "unit_id", Unit.all, :id, :name %>
</div>