<tr class="qd">
	<td class="small_part"><%= data.text_field "quantity", :width => 10 %></td>
	<td class="small_part"><%= text_field_tag "", nil, :class => "tmp" %></td>
	<td class="in_product"><%= text_field_tag "", nil, :class => "tmp" %></td>
	<td class="small_part"><%= text_field_tag "", nil, :class => "tmp" %></td>
	<td class="small_part"><%= text_field_tag "", nil, :class => "tmp" %></td>
	<td class="small_part"><%= data.check_box :_destroy %></td>
</tr>
<!-- <div>
	<%= data.label "product_id", "Producto:" %>
	<%= data.collection_select "product_id", Product.all, :id, :full_name %>
</div>
<div>
	<%= data.label "quantity", "Cantidad:" %>
	
</div>
<div>
	<%= data.label "sell_price", "Precio:" %>
	<%= data.text_field "sell_price" %>
</div>
<div>
	<%= data.label "unit_id", "Unidad:" %>
	<%= data.collection_select "unit_id", Unit.all, :id, :name %>
</div> -->


