<section id="quotation_title_part">
	<hgroup id="quotation_title">
		<h1>Nueva cotizacion</h1>
		<div id="q_auth_user">
			<h2>Autenticar Usuario</h2>
		</div>
	</hgroup>
</section>

<section id="who_register">
	<h1>Registrado por: <%= current_user.full_name %></h1>
</section>

<section>
	<%= render 'form' %>
</section>



<section id="authenticate_user" class="q_box">
	<div id="au_title">
		<h1>Autenticar usuario</h1>
		<h2><%= link_to_function "X", "closeFloatingBox(this)"%></h2>
	</div>
	<div>
		<%= form_tag quotation_auth_user_path, :remote => true do %>
			<%= hidden_field_tag "user_to_auth", current_user.id %>
			<h1 id="inside_auth_user_form">Registrado por: <%= current_user.full_name %></h1>
			<div>
				<%= label_tag "small_code", "Codigo personal" %><br>
				<%= text_field_tag "small_code" %>
			</div>
			<div>
				<%= submit_tag "Continuar", :id => "auth_user_submit_button" %>
			</div>
		<% end -%>
	</div>
</section>

<section id="q_clients_list" class="q_box">
	<div id="q_client_search_title">
		<h1>Buscar cliente</h1>
		<h2><%= link_to_function "X", "closeFloatingBox(this)" %></h2>
	</div>
	<section id="q_action_search">
		<div id="q_1">
			<%= label_tag "q_client_search", "Buscar: "%>
			<%= text_field_tag "q_client_search" %>
		</div>
		<div id="q_2">
			<table>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Tipo de Identificacion</th>
						<th>Numero de Identificacion</th>
					</tr>
				</thead>
				<tbody>
					<% @clients.each do |client| %>
						<tr <%= "id=" + client.id.to_s %> data-address="<%=  client.address %>" data-contact_person="<%= client.contact_person %>">
							<td><%= client.name %></td>
							<td><%= client.client_type.identification_type %></td>
							<td><%= client.identification_number %></td>
						</tr>
					<% end %>
				</tbody>
			</table>						
		</div>
	</section>
</section>

<section id="q_product_search" class="q_box">
	<div id="qp_search">
		<div>
			<%= form_tag quotation_search_product_path, remote: true do %>
				<%= label_tag "qp_search_input", "Buscar Producto:" %>
				<%= text_field_tag "qp_search_input" %>
			<% end %>
		</div>
		<h2><%= link_to_function "X", "closeFloatingBox(this)" %></h2>
	</div>
	<div id="qp_result">
		<ul>
			
		</ul>
	</div>
	<div id="qp_bad_result">
		<h2>No existen productos con esas caracteristicas</h2>
	</div>
</section>

<section id="price_negotiation" class="q_box">
	<div id="title_goes_here">
		<h1>Precio de venta</h1>
		<h2><%= link_to_function "X", "closeFloatingBox(this)"%></h2>
	</div>
	<div id="the_image_goes_here">
		<div id="up">
			<%= image_tag default_null_image, :class => "pn_img" %>
			<h2></h2>
			<h1 id="qp_full_name"></h1>
			<%= hidden_field_tag "this_is_the_product_id_you_shouldnt_be_seeing" %>
		</div>
		<div id="down">
			<table>
				<thead>
					<tr>
						<th>Local</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
			<div>
				<%= label_tag "product_quantity", "Cantidad:" %>
				<%= text_field_tag "product_quantity" %>
				<%= select_tag "product_unit", new_options_from_collection_for_select(Unit, :id, :name), :prompt => "Selecciona unidad" %>
			</div>
			<h2>Recuerda que si pides una cantidad superior a la existente en tu local se necesitara pedir de otros almacenes</h2>
		</div>
		<div id="downer">
			<table>
				<thead>
					<tr>
						<th>Tipo de Venta</th>
						<th>Precio</th>
						<th>Moneda</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div>
				<%= label_tag "product_price", "Precio:" %>
				<%= text_field_tag "product_price" %>
				<h2></h2>
			</div>
		</div>
	</div>
</section>

<section id="ask_for_product" class="q_box">
	<div id="afp_up">
		<h1>Enviar Mensaje a otras tiendas</h1>
		<h2><%= link_to_function "X", "closeFloatingBox(this)"%></h2>
	</div>
	<div id="afp_down">
		<h2></h2>
		<%= form_tag quotation_receive_message_path, :remote => true do %>	
			<%= hidden_field_tag "user_id", current_user.id %>
			<table>
				<thead>
					<tr>
						<th>Local</th>
						<th>Mensaje</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<% Store.all.each do |store| %>
						<% unless store == current_user.store %>
							<tr>
								<td><%= store.name %></td>
								<td><%= text_field_tag "message_to_store_"+store.name.gsub(" ", "_") , " ", :class => "my_message_to_other_store" %></td>
								<td><%= link_to_function "Ignorar", "ignoreMessage(this)" %></td>
							</tr>
						<% end -%>
					<% end -%>
					<tr>
						<td colspan="3"><%= submit_tag "ENVIAR MENSAJE" %></td>
					</tr>
				</tbody>
			</table>
		<% end %>
	</div>
</section>

<section id="different_prices">
	<%= form_tag quotation_stupid_calculation_path, :id => "check_prices", :remote => true do %>
		
	<% end -%>
</section>