<section id="quotation_title_part">
  <hgroup id="quotation_title">
    <h1>Marcas y Modelos</h1>
    <div id="pay_quotation_part">
      <% unless current_user.role?("Vendedor") || current_user.role?("Almacenero") || current_user.role?("Asistente") %>
        <% if @quotation.payment_status != true %>
          <h1 class="to_pay">Pagar Cotizacion</h1>
        <% else %>
          <h1 class="payed">Cotizacion pagada</h1>
        <% end %>
      <% else %>
        <h1><%= link_to "Registrar series", quotation_temporal_codes_path(@quotation) %></h1>
      <% end %>
    </div>
  </hgroup>
</section>

<h1 id="show_code"><%= @quotation.code %></h1>

<section id="q_show">
  <table>
    <tbody>
      <tr>
        <th>Cliente</th>
        <th>Fecha</th>
      </tr>
      <tr>
        <td><%= @quotation.client.name %></td>
        <td><%= @quotation.date %></td>
      </tr>
      <tr>
        <th>Registrado por:</th>
        <th><%= @quotation.client.client_type.identification_type + " del cliente: " %></th>
      </tr>
      <tr>
        <td><%= @quotation.user.full_name %></td>
        <td><%= @quotation.client.identification_number %></td>
      </tr>
      <tr>
        <th colspan=2>Direccion</th>
      </tr>
      <tr>
        <td colspan=2><%= @quotation.client.address %></td>
      </tr>
    </tbody>
  </table>
</section>

<section id="q_show_price">
  <table>
    <thead>
      <tr>
        <% @quotation_value.each do |key, value| %>
          <th><%= key %></th>
        <% end %>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @quotation_value.each do |key, value| %>
          <td class="prices"><%= value[0] %></td>
        <% end %>  
      </tr>
    </tbody>
  </table>
</section>

<section id="qd_show">
  <table>
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Moneda</th>
        <th>P.Unit</th>
        <th>Importe</th>
      </tr>
    </thead>
    <tbody>
      <% tmp = 0 %>
      <% @quotation.quotation_details.each do |qd| %>
        <tr>
          <td><%= qd.quantity %></td>
          <td> - </td>
          <td><%= qd.full_description %></td>
          <td><%= qd.money_type.name %></td>
          <td><%= qd.sell_price %></td>
          <% tmp = tmp + (qd.quantity*qd.sell_price) %>
          <td><%= qd.quantity * qd.sell_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<% if @quotation.payment_status != true %>
  <section id="pay_quotation_form" class="q_box">
      <div id="pqf_title">
        <h1>Pagar cotizacion</h1>
        <h2><%= link_to_function "X", "closeFloatingBox(this)"%></h2>
      </div>
      <div id="pq_form">
        <table>
          <thead>
            <tr>
              <% @quotation_value.each do |key, value| %>
                <th><%= key %></th>
              <% end %>  
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @quotation_value.each do |key, value| %>
                <td class="prices" data-money_value="<%= value[1] %>"><%= value[0] %></td>
              <% end %>  
            </tr>
          </tbody>
        </table>
        <div id="change_calculation">
          
        </div>
        <%= form_tag quotation_another_stupid_calculation_path, :id => "payment_values", :remote => true do %>
          <%= hidden_field_tag "q_id", @quotation.id %>
          <div class="pay_type_part">
            <div class="pq_form_div">
              <%= label_tag "money_received_in_dollars", "Total a pagar en dolares: " %><br>
              <%= text_field_tag "money_received_in_dollars", "" %>
            </div>
          </div>
          <div class="pay_type_part">
            <div class="pq_form_div">
              <%= label_tag "money_received_in_soles", "Total a pagar en soles: " %><br>
              <%= text_field_tag "money_received_in_soles", "" %>
            </div>
          </div>
          <%= submit_tag "Calcular" %>
        <% end -%>

        <%= form_tag quotation_pay_quotation_path, :id => "real_payment", remote: true do %>
          <%= hidden_field_tag "q_id", @quotation.id %>
          <%= hidden_field_tag "soles" %>
          <%= hidden_field_tag "dollars" %>
          <div class="pq_form_div">
            
          </div>
          <div class="pq_form_submit">
            <%= submit_tag "Registrar pago" %>
          </div>
        <% end %>
      </div>
  </section>
<% end -%>