<section id="sell_price_search">
	<h1>Buscar Documento</h1>

	<%= form_tag sell_price_result_path,:remote => true do %>
		<div class="search_part">
		<%= label_tag "doc_type", "Tipo de Documento: "%><br/>
		<%= select_tag "doc_type", options_from_collection_for_select(DocumentType.all, :id, :name) %>
		</div>
		<div class="search_part">
		<%= label_tag "numbers", "Tipo de Documento: "%><br/>
		<%= text_field_tag "numbers" %>
		</div>
		<%= submit_tag "Consultar" %>
	<% end %>

	<p id="error_message">No hay documentos registrados con esos datos</p>
	<div id="success_message">
		<p>Se encontro el documento indicado</p>
		<%= form_tag sell_price_register_path do %>
			<%= hidden_field_tag "doc_register_id", :value => 0 %>
			<%= submit_tag "Registrar Precios" %>
		<% end %>
		<%= form_tag sell_price_show_path do %>
			<%= hidden_field_tag "folder_id", :value => 0 %>
			<%= submit_tag "Ver Precios" %>
		<% end %>
	</div>
</section>