<section id="document_type_title_part">
	<hgroup id="document_type_title">
		<h1>Tipos de Documentos</h1>
	</hgroup>
</section>

<section id="document_type_index">
	<% @dt.each do |dt| %>
		<%= render "document_type_item", :dt => dt %>
	<% end %>
</section>

<div id="create_document_type">
	<h1>Crear Tipo de Documento</h1>
	<%= form_tag document_type_create_path, :remote => true do %>
		<div class="dt_create_form_div">
			<%= label_tag "name","Nombre:" %>
			<%= text_field_tag "name" %>
			<%= link_to_function "Registrar", "submitCreateForm(this)" %>
		</div>
		<div class="dt_create_form_div_submit">
			<%= submit_tag "Enviar", :id => "document_type_create_input_submit_button"%>
		</div>
	<% end %>
</div>