<section id="users_index">
  <hgroup id="users_title">
    <h1>Usuarios Registrados</h1>
  </hgroup>
</section>

<section id="users_index">
	<table id="users_list">
		<tr>
			<th>Nombre de Usuario</th>
			<th>Nombre completo</th>
			<th>DNI</th>
			<th>Opciones</th>
		</tr>
		<% @users.each do |user| %>
			<% tmp = "" %>
			<% user.roles.each do |role| %>
				<% tmp = role.name + " " + tmp %>
			<% end %>
			<tr class="<%= tmp %>">
				<td><%= user.username %></td>
				<td><%= user.name.to_s + " " + user.last_name.to_s %></td>
				<td><%= user.dni %></td>
				<td><%= link_to "Mostrar", show_user_path(user.id)  %></td>
			</tr>
		<% end %>
	</table>
</section>