<%= form_tag model_changer_path, :id => "model_changer_form", :remote => true do %>
  <div class="model_changer_form_div">
    <%= label_tag "brand_id", "Marca: " %>
    <%= datalist_text_field_tag "brand_id", "midorys", Brand.all %>
  </div>
  <div class="model_changer_form_div">
    <%= label_tag "myClass", "Clase: " %>
    <%= select_tag "myClass", options_from_collection_for_select(ParentModel.all, :id, :name) %>
  </div>
  <div class="model_changer_form_div">
    <%= label_tag "model_type_id", "Sub-Clase: " %>
    <%= select_tag "model_type_id", option_groups_from_collection_for_select(ParentModel.all, :model_types, :name, :id, :name, 3) %>
  </div>
  <div id="submiting">
    <%= submit_tag "consultar" %>
  </div>
<% end %>

<%= form_for(@product, :html => {:multipart => true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_type_id, "Tipo de Producto:" %><br />
    <%= f.collection_select :product_type_id, ProductType.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :model_id, "Modelo:" %><br />
    <div id="toChange">
      <%= f.collection_select :model_id, Model.all, :id, :name %>
    </div>
    <div id="toHide">
      <p>No se han encontrado modelos con esas condiciones. Para agregarlo pulse <%= link_to 'aqui', brand_index_path %></p>
    </div>
  </div>
  <div class="field">
    <%= f.label :description, "Descripcion: " %><br />
    <%= f.text_area :description, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.hidden_field :monthly_quantity, :value => 0 %>
    <%= f.hidden_field :monthly_price, :value => 0  %>
  </div>
  <div class="field">
    <%= f.label :image, "Imagen:" %><br />
    <%= f.file_field :image %>
  </div>
  <div id="current_submit_link">
    <%= link_to_function "Registrar", "submitProduct(this)" %>
  </div>
  <div id="actions">
    <%= f.submit "Crear Producto" %>
  </div>
<% end %>
