<section id="products_index">
  <hgroup id="products_title">
    <h1>Productos</h1>
    <section>
      <div id="products_new_options">
        <%= link_to 'Nuevo Producto', new_product_path %>
      </div>
    </section>
    <!-- <div>
      <%= text_field_tag "search_product_in_index", "Buscar por modelo" %>
    </div> -->
  </hgroup>
  <section id="products_new_main">
    <section id="products_new_search">
      <%= form_tag new_product_search_path, :remote => true do %>
        <%= text_field_tag :search_param %>
        <%= submit_tag "consultar" %>
      <% end %>
    </section>
    <section id="new_product_search_result">
    </section>
  </section>
</section>