<section class="sell_price_title_part">
  <hgroup class="sell_price_title">
    <h1>Precio de venta</h1>
  </hgroup>
</section>

<section id="sell_price_show">
	<h1><%= @product.full_name.capitalize %></h1>
	<div id="changeable">
		<% if @sell_prices.empty? %>
			<h2>No hay precios registrados para este producto</h2>
		<% else %>
			<%= render "my_new_partial", :data => @sell_prices %>
		<% end %>
	</div>
</section>

<section id="sell_price_register">
	<p id="to_show_sell_price_register_form">Modificar precios de venta</p>
	<%= form_tag register_sell_price_path, :remote => true do %>
		<table>
			<tr>
				<th>Tipo de Precio</th>
				<th colspan="2">Valor</th>
			</tr>
			<% PriceType.all.each do |pt| %>
				<tr>
					<td><%= pt.name %></td>
					<td><%= text_field_tag pt.name %></td>
					<td><%= select_tag "select_#{pt.name}", options_from_collection_for_select(MoneyType.all, :id, :name) %></td>
				</tr>
			<% end %>
		</table>
		<%= hidden_field_tag "prod_id", @product.id %>
		<div id="new_submit_button">
			<%= submit_tag "enviar" %>
		</div>
	<% end %>
</section>