<section id="products_show">

  <hgroup id="products_title">
    <h1>Productos</h1>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </hgroup>

  <section id="product_description">
    <div id="product_description_left_part">
      <%= image_tag @product.image.url(:large) %>
    </div>
    <div id="product_description_right_part">
      <div class="product_description_group">
        <span class="product_description_title">
          Tipo de Producto:
        </span>
        <span class="product_description_value">
          <%= @product.product_type.name %>
        </span>
      </div>
      <div class="product_description_group">
        <span class="product_description_title">
          Tipo:
        </span>
        <span class="product_description_value">
          <%= @product.model.model_type.name %>
        </span>
      </div>
      <div class="product_description_group">
        <span class="product_description_title">
          Marca:
        </span>
        <span class="product_description_value">
          <%= @product.model.brand.name %>
        </span>
      </div>
      <div class="product_description_group">
        <span class="product_description_title">
          Modelo:
        </span>
        <span class="product_description_value">
          <%= @product.model.name %>
        </span>
      </div>
      <div class="product_description_group">
        <span class="product_description_title">
          Stock del Mes anterior:
        </span>
        <span class="product_description_value">
          <%= @product.monthly_quantity %>
        </span>
      </div>
      <div class="product_description_group">
        <span class="product_description_title">
          Precio del Stock anterior:
        </span>
        <span class="product_description_value">
          <%= @product.monthly_price %>
        </span>
      </div>
      <div class="product_description_group">
        <span class="product_description_title">
          Descripcion:
        </span>
        <p class="product_description_value">
          <%= @product.description %>
        </p>
      </div>
    </div>
  </section>

  <div id="products_show_options">
    <ul>
      <li><%= link_to 'Editar', edit_product_path(@product) %></li>
      <li><%= link_to 'Volver', products_path %></li>
      <li><%= link_to 'Eliminar', @product, confirm: 'Esta seguro?', method: :delete %></li>
    </ul>
  </div>  
</section>