<%= form_for(@supplier) do |f| %> 

  <div class="supplier_field">
    <%= f.label :name, "Nombre:" %>
    <%= f.text_field :name %>
  </div>
  <div class="supplier_field">
    <%= f.label :address, "Direccion:" %>
    <%= f.text_field :address %>
  </div>
  <div class="supplier_field">
    <%= f.label :contact_person, "Persona de Contacto:" %>
    <%= f.text_field :contact_person %>
  </div>
  <div class="supplier_field">
    <%= f.label :phone, "Telefono:" %>
    <%= f.text_field :phone %>
  </div>
  <div class="supplier_field">
    <%= f.label :country, "Pais:" %>
    <%= f.text_field :country %>
  </div>
  <div class="supplier_field">
    <%= f.label :city, "Ciudad:" %>
    <%= f.text_field :city %>
  </div>
  <div id="supplier_submit_link">
    <%= link_to_function "Registrar proveedor", "submitNewSupplier(this)" %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Proveedor" %>
  </div>
<% end %>
