<section id="suppliers_title_part">
  <hgroup id="suppliers_title">
    <h1><%= @supplier.name %></h1>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </hgroup>
</section>

<section id="suppliers_show">

  <div class="supplier_show_part">
    <span>Nombre:</span>
    <p><%= @supplier.name %></p>
  </div>

  <div class="supplier_show_part">
    <span>Direccion:</span>
    <p><%= @supplier.address %></p>
  </div>

  <div class="supplier_show_part">
    <span>Correo:</span>
    <p><%= @supplier.mail %></p>
  </div>  

  <div class="supplier_show_part">
    <span>Persona de Contacto:</span>
    <p><%= @supplier.contact_person %></p>
  </div>

  <div class="supplier_show_part">
    <span>Telefono:</span>
    <p><%= @supplier.phone %></p>
  </div>

  <div class="supplier_show_part">
    <span>Ciudad:</span>
    <p><%= @supplier.city %></p>
  </div>

  <div class="supplier_show_part">
    <span>Pais:</span>
    <p><%= @supplier.country %></p>
  </div>

  <div class="supplier_show_part">
    <span>Otros:</span>
    <p><%= @supplier.other %></p>
  </div>

</section>

<div id="suppliers_show_options">
  <ul>
    <li><%= link_to 'Editar', edit_supplier_path(@supplier) %></li>
    <li><%= link_to 'Volver', suppliers_path %></li>
    <li><%= link_to 'Eliminar', @supplier, confirm: 'Esta seguro?', method: :delete %></li>
  </ul>
</div>