<!DOCTYPE html>
<html>
	<head>
	  	<title>Final</title>
	  	<%= stylesheet_link_tag    "application", :media => "all" %>
	  	<%= javascript_include_tag "application" %>
	 	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if user_signed_in? %>
			<section id="main_section">
				<section id="user_data">
					<div id="current_user_data">
						<p>Sesion iniciada como: <%= current_user.username %></p>
						<p>Roles Asignados: 
							<% current_user.roles.each do |role| %>
								<%= role.name %>
							<% end %>
						</p>
					</div>
					<div id="user_session_options">
						<ul>
							<li><%= link_to "editar perfil", edit_user_registration_path %></li>
							<li><%= link_to "cerrar sesion", destroy_user_session_path, :method => :delete %></li>
						</ul>
					</div>
				</section>
				<section id="prev_nav_bar">
					<ul>
						<li><%= link_to "Tipo de Documento", document_type_index_path %></li>
						<li><%= link_to "Tipo de Precio", price_type_index_path %></li>
						<li><%= link_to "Tipo de Modelo", model_type_index_path %></li>
						<li><%= link_to "Tipo de Producto", product_type_index_path %></li>
						<li><%= link_to "Tipo de Cliente", client_type_index_path %></li>
						<li><%= link_to "Marcas", brand_index_path %></li>
						<li><%= link_to "Productos", products_path %></li>
						<li><%= link_to "Proveedor", suppliers_path %></li>
						<li><%= link_to "Locales", stores_path %></li>
						<li><%= link_to "Clientes", clients_path %></li>
						<li><%= link_to "Registrar Ingresos", entry_folders_path %></li>
						<li><%= link_to "Registrar Salidas", output_folders_path %></li>
						<li><%= link_to "Registrar Codigos de Ingrso", code_entry_search_path %></li>
						<li><%= link_to "Registrar Precios de Venta", code_entry_search_path %></li>
					</ul>
				</section>
				<%= yield %>	
			</section>
		<% else %>
			<section id="signing">
				<%= yield %>	
			</section>
		<% end %>
	</body>
</html>
