<!DOCTYPE html>
<html>
	<head>
	  	<title>Final</title>
	  	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" %>
	  	<%= javascript_include_tag "application" %>
	  	<%= stylesheet_link_tag    "application", :media => "all" %>
	  	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Dosis:400,200" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if user_signed_in? %>
			<section id="main_section">
				<%= yield %>	
			</section>
			<section id="user_data">
				<%= image_tag current_user.image.url(:medium), :width => 100, :height => 100 %>
				<div>
					<p><%= current_user.username.upcase %></p>
					<ul class="first_level_list">
						<li><%= link_to "editar perfil", edit_user_registration_path %></li>
						<li><%= link_to "cerrar sesion", destroy_user_session_path, :method => :delete %></li>
					</ul>
				</div>
			</section>
			<section id="prev_nav_bar">
				<h1>Huguito</h1>
				<ul class="first_level_list">
					<%= (render_proper_navbar current_user).html_safe %>
				</ul>
			</section>


			<div id="vendor_list">
				<ul>
					<% User.all.each do |tmp|%>
						<% if tmp.role? "Vendedor" %>
							<% if tmp.username.empty? %>
								<li><p>Hostia!</p></li>
							<% else %>
								<li><p>Midory Castillo Peralta</p></li>
							<% end %>
						<% end %>
					<% end %>
				</ul>
			</div>
		<% else %>		
			<%= yield %>	
			<section id="presentation_bar">
				<h1>Huguito</h1>
				<h2>Desarrollado por <%= link_to "@kerpie", "http://www.twitter.com/kerpie" %></h2>
			</section>
		<% end %>
	</body>
</html>
